<a href="https://colab.research.google.com/github/ykitaguchi77/Strabismus_AI_project/blob/main/ExtractList_from_imgNum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**画像番号に該当する症例をリストから抜粋するスクリプト**

In [79]:
#google driveをcolabolatoryにマウント
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [80]:
import pandas as pd
pd.set_option('display.max_columns', 10)


def openCSV(csv_path):
    #df = pd.read_csv(csv_path, encoding="shift-jis")
    df = pd.read_csv(csv_path, encoding="utf-8",header=None)
    #df = pd.read_csv(csv_path, encoding="cp932")
    #df = df.drop(df.columns[[0]], axis=1) #1列目を削除する
    print(df)
    return df

#CSVを開く （csv1:編集するファイル、csv2:参照するファイル）
csv2_path = '/content/drive/MyDrive/Deep_learning/Facephoto_LIST/DiseaseInfo_all_connected_new3.csv'
df2 = openCSV(csv2_path) #CSVを開く
df2

              0                                                  1     2   3   \
0     10893530.0  d8847829893b30e2bff7943b01ca557fe839cf9b649d5e...     1  45
1      7777705.0  a084892cbe599b02304e56535d7072d736271bd487abf4...     2  74
2     10527858.0  d53872e128cd3d405f313b5c179a079a2fbeda852bca2d...     3  59
3     10021590.0  9366a1267f814193d9ac2f13786d89acdb16456ee46db4...     4  46
4     10964694.0  c5fbf6684b10dc2f84635ba7fcb3b0c7b6021b34bf4938...     5  64
...          ...                                                ...   ...  ..
9819  11613788.0  757069f15bc74739c51f5fe03167d51f594f4779017b2b...  9831  43
9820   9055165.0  51e7f294b7b63f15864316bbaf5b701b43f0c11c18c9fd...  9832  50
9821  11452681.0  f7345ccf09fe678c1ba8487d9a61e4bfc1658144b98ae9...  9833  33
9822   6911048.0  23753e35a4b02c439e9adecab3d26887ba4729e07258fa...  9834  27
9823  11587782.0  b3e8e6f86945cf4e67c8e473ff99a6ecadb99b5327f5f5...  9835  73

      4   ...         21   22   23   24   25
0     38  ...        NaN  NaN  NaN  NaN  NaN
1     53  ...        NaN  NaN  NaN  NaN  NaN
2     51  ...        NaN  NaN  NaN  NaN  NaN
3     34  ...        NaN  NaN  NaN  NaN  NaN
4     59  ...        NaN  NaN  NaN  NaN  NaN
...   ..  ...        ...  ...  ...  ...  ...
9819  41  ...        NaN  NaN  NaN  NaN  NaN
9820  35  ...  Ｃ型急性肝炎の疑い  NaN  NaN  NaN  NaN
9821  29  ...        NaN  NaN  NaN  NaN  NaN
9822   3  ...        NaN  NaN  NaN  NaN  NaN
9823  73  ...        NaN  NaN  NaN  NaN  NaN

[9824 rows x 26 columns]

,0,1,2,3,4,...,21,22,23,24,25
0,10893530.0,d8847829893b30e2bff7943b01ca557fe839cf9b649d5e...,1,45,38,...,NaN,NaN,NaN,NaN,NaN
1,7777705.0,a084892cbe599b02304e56535d7072d736271bd487abf4...,2,74,53,...,NaN,NaN,NaN,NaN,NaN
2,10527858.0,d53872e128cd3d405f313b5c179a079a2fbeda852bca2d...,3,59,51,...,NaN,NaN,NaN,NaN,NaN
3,10021590.0,9366a1267f814193d9ac2f13786d89acdb16456ee46db4...,4,46,34,...,NaN,NaN,NaN,NaN,NaN
4,10964694.0,c5fbf6684b10dc2f84635ba7fcb3b0c7b6021b34bf4938...,5,64,59,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9819,11613788.0,757069f15bc74739c51f5fe03167d51f594f4779017b2b...,9831,43,41,...,NaN,NaN,NaN,NaN,NaN
9820,9055165.0,51e7f294b7b63f15864316bbaf5b701b43f0c11c18c9fd...,9832,50,35,...,Ｃ型急性肝炎の疑い,NaN,NaN,NaN,NaN
9821,11452681.0,f7345ccf09fe678c1ba8487d9a61e4bfc1658144b98ae9...,9833,33,29,...,NaN,NaN,NaN,NaN,NaN
9822,6911048.0,23753e35a4b02c439e9adecab3d26887ba4729e07258fa...,9834,27,3,...,NaN,NaN,NaN,NaN,NaN
9823,11587782.0,b3e8e6f86945cf4e67c8e473ff99a6ecadb99b5327f5f5...,9835,73,73,...,NaN,NaN,NaN,NaN,NaN

In [93]:
import glob
import os
#パスから画像名のリストを作成
img_path = "/content/drive/MyDrive/Deep_learning/Strabismus/dataset(3class_notcut)"

contlist, extelist, intelist = [], [], []

#path = "/content/drive/MyDrive/Deep_learning/Strabismus/dataset(3class_notcut)/train/exte/e126.jpg"
#このうち126の部分のみを取り出す

cont_name = glob.glob(img_path +"/*/Cont/*")
for i in cont_name:
    contlist.append(int(os.path.basename(os.path.splitext(i)[0])))
contlist=sorted(contlist)

exte_name = glob.glob(img_path +"/*/Exte/*")
for i in exte_name:
    extelist.append(int(os.path.basename(os.path.splitext(i)[0]).lstrip("e").split("-")[0]))
extelist=sorted(extelist)
    
inte_name = glob.glob(img_path +"/*/Inte/*")
for i in inte_name:
    intelist.append(int(os.path.basename(os.path.splitext(i)[0]).lstrip("i").split("-")[0]))
intelist=sorted(intelist)

In [95]:
def extract(imgname_list, df_orig):
    #もとのcsvと列名を揃えたデータフレームを作成
    cols =  df_orig.columns
    df_dst = pd.DataFrame(index=[], columns=cols)

    for i in imgname_list:
        df_add = df_orig[df_orig.iloc[0:,2] ==i]
        df_dst = pd.concat([df_dst, df_add])
    return df_dst

df_cont = extract(contlist, df2)
df_exte = extract(extelist, df2)
df_inte = extract(intelist, df2)

,0,1,2,3,4,...,21,22,23,24,25
5,7711566.0,6ed82083cf58489e4a01e05edbc9f5b3f0d350c5978b10...,6,20,0,...,NaN,NaN,NaN,NaN,NaN
17,10988317.0,83c6e6a39ce98c21849e292acf21f6ac5e8667eb9347ee...,18,6,2,...,NaN,NaN,NaN,NaN,NaN
20,10818890.0,da5bca49765a5a360d8167899a769c635dbf6ec77620f1...,21,7,2,...,NaN,NaN,NaN,NaN,NaN
38,10728292.0,73db32a251ccbd3fa0c0a896671a4456b26cef70982cc1...,39,68,60,...,両側正常眼圧緑内障,NaN,NaN,NaN,NaN
42,10983440.0,6ca8e66d8790fe058cd3a32c68630f4312a8883db78feb...,43,10,5,...,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
8150,11492544.0,47c856b187f306323c45cb8cc72e3a99cb42f8db590151...,8162,3,0,...,NaN,NaN,NaN,NaN,NaN
8423,12007054.0,a5092d6bf043c6bbe866a8e9c579e816447a8314014c16...,8435,0,0,...,NaN,NaN,NaN,NaN,NaN
8461,11881780.0,8b569beb6a43810508a0c0ca3142e2f121ade152a4ae53...,8473,1,0,...,NaN,NaN,NaN,NaN,NaN
9174,11767905.0,fd0145e2351cf604da382444d8112acb4134c096e4f769...,9186,4,2,...,NaN,NaN,NaN,NaN,NaN
9651,11598036.0,3076375f74c5306434224e5dda5973e44114b6494d8ac7...,9663,5,3,...,NaN,NaN,NaN,NaN,NaN

#**CSVから該当する文字列のある行を抜き出すサンプルコード**

In [82]:
#df2の0列目から"2695701"を見つけて、その行を抜き出す
#さらにその行の2列目の内容を出力する

img_num = df2[df2.iloc[0:,2] == 100].iloc[0,0]
print(img_num)

10065813.0

In [83]:
df_add = df2[df2.iloc[0:,2] ==100]
df_add

,0,1,2,3,4,...,21,22,23,24,25
99,10065813.0,a456343076d7114dee7771b1afe73505771cacfdbea4e6...,100,16,5,...,NaN,NaN,NaN,NaN,NaN

In [ ]:
k=0

for i in range(len(df1)):
    id = df1.iloc[k,1]

In [ ]:
def transpose_value(df1, df2):
    k=0
    for i in range(len(df1)):
        id = df1.iloc[k,1]  #CSV1つ目のidを取得

        try:
            img_num = df2[df2.iloc[0:,0] == int(id)].iloc[0,2]
        except: #一致するIDがなければ空欄にする
            img_num = ""

        df1.iloc[k, 3] = img_num #CSV1つ目の所定の場所に代入
        k+=1
    return df1


df3 = transpose_value(df1, df2)

print(df3)

     Unnamed: 0        id Unnamed: 2 Unnamed: 3    Unnamed: 4 Unnamed: 5  \
0          32.0   8371461          女             followなし 無投薬        NaN
1          33.0   9243553          女                 followなし        NaN
2          34.0  10027421          女       5862     2010/5/19        NaN
3          35.0   7213745          男       3145     2010/3/31        NaN
4          36.0  10995358        NaN       4580     2015/5/25        NaN
..          ...       ...        ...        ...           ...        ...
106       135.0  10581838          女       3725           NaN        NaN
107       136.0   9516680          男                    39843         なし
108       137.0  11885551          男                    43986         あり
109       138.0  10767701          男       4484         43523         あり
110       139.0  11059336          男                    42271         なし

    Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9
0          NaN        NaN  2004/1/29        NaN
1          NaN        NaN  2007/10/2        NaN
2          NaN        NaN   2010/5/6          左
3          NaN        NaN  1998/9/28        NaN
4          NaN        NaN  1964/4/23        NaN
..         ...        ...        ...        ...
106        NaN         なし      40027          両
107        NaN         なし      38765          両
108        NaN         1歳      43380          右
109        NaN        なし？      41183        NaN
110        NaN        NaN      40075          両

[111 rows x 10 columns]

#**CSVとして保存**

In [ ]:
csv_path = '/content/drive/MyDrive/進行中の研究/先天性緑内障プロジェクト/先天性緑内障1.1.csv'
csv = df1.to_csv(csv_path, encoding='utf_8_sig')